@model Country
@{
    ViewData["Title"] = "Delete country";
}
<h1>Delete Country</h1>
@if (Model != null)
{
    @if (Model.Cities == null || Model.Cities.Count <= 0)
    {
        <form asp-action="Delete" method="post" asp-route-id="@Model.Id" asp-route-name="">
            <input value="@Model.Name" />
            <a asp-action="Index" class="btn btn-info">Cancel</a>
            <button class="btn btn-danger">Delete country</button>
        </form>
    }
    else
    {
        <h2>The following Cities belongs to the Country, so it can't be removed.</h2>
        <ul>
            @foreach (City city in Model.Cities)
            {
                <li>@city.Name</li>
            }
        </ul>
        <a asp-action="Index" class="btn btn-info">Back to Countries</a>
        <a asp-action="Index" asp-controller="City" class="btn btn-info">Go to Cities</a>
    }
}
else
{
    <p>Can't find Country</p>
    <a asp-action="Index" class="btn btn-info">Back to Countries</a>

}

