@model EditCountryViewModel
@{
    ViewData["Title"] = "Edit Country";
}

<h1>Edit</h1>

<form asp-action="Edit" method="post">
    <input asp-for="@Model.Id" hidden />

    <label asp-for="@Model.CreateVM.Name"></label>
    <input asp-for="@Model.CreateVM.Name" />
    <span asp-validation-for="@Model.CreateVM.Name"></span>

    <a asp-action="Index" class="btn btn-info">Back to Country List</a>
    <button class="btn btn-primary">Update</button>

</form>

