
@{
    ViewData["Title"] = "Home Index";
}

<h1>Home Index</h1>

<p>Welcome to the People site!</p>
<p>To be able to use the site, it is required to register an account!</p>
<p>Login can be used if you already have an account.</p>

<a asp-controller="Account" asp-action="Login" class="btn btn-info">Login</a>
<a asp-controller="Account" asp-action="Register" class="btn btn-info">Register</a>
