@{
    ViewData["ShowPersonDeleteButton"] = false;
}

<h2>SPA (Single Page Application)</h2>
<div class="row" id="ShowAllPersonsSection">
    <div class="col-12">
        <button id="allPersonsBtn" class="btn btn-info">Show all persons</button>
    </div>
</div>
<div class="row">
    <div class="col-4 form-inline">
        <label for="inputPersonId" class="mr-sm-4">Person id:</label>
        <input type="text" value="1" id="inputPersonId" />
    </div>
    <div class="col-3">
        <button id="personDetailsBtn" class="btn btn-info">Show person details</button>
    </div>
    @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="col-3">
            <button id="removePersonBtn" class="btn btn-danger">Remove person</button>
        </div>
    }
</div>
<div class="row">
    <div class="col-12">
        <div id="PageResultContainer"></div>
    </div>
</div>

<script src="~/js/SinglePageJS.js" asp-append-version="true"></script>
